/* Base */
:root {
  --app-width: 1024px;

  --padding-smaller: .5rem;
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;

  --black: #233329;
  --grey: #CBCBCB;
  --red: #EB9592;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  font-size: 1.6rem;
  font-family: sans-serif;
  color: var(--black);
}

.header {
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 5rem;
  padding: var(--padding-smaller);
  margin-right: auto;
}

.header__logo > img {
  width: 100%;
}

.nav {
  list-style: none;
  display: flex;
}

.nav__item {
  height: 5rem;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 2.3rem 1.5rem;
  letter-spacing: 1.5px;
}

.nav__link:link,
.nav__link:visited {
  color: var(--grey);
}

.nav__link:active,
.nav__link:hover {
  color: var(--black);
}

.main {
  max-width: var(--app-width);
  width: 100%;
  padding: var(--padding-medium) var(--padding-small);
  flex: 1;
  margin: 0 auto;
}

.footer {
  padding: var(--padding-medium) 0;
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.footer__rwc {
  text-decoration: none;
}

.footer__rwc:link,
.footer__rwc:visited,
.footer__rwc:hover {
  color: var(--black);
}

/* Home */
.hero {
  padding-bottom: var(--padding-medium);
}

.hero__logo {
  margin: 0 auto;
  width: 10rem;
  translate: -2rem;
  padding-bottom: var(--padding-medium);
}

.search {
  text-align: center;
}

.hero__text {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
}

.search {
  display: flex;
  justify-content: center;
}

.search__input {
  font-size: 2rem;
  padding-left: var(--padding-medium);
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
  max-width: 50rem;
  width: 70%;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  border: 1px solid var(--grey);
  color: var(--black);
}

.search__input:focus {
  border: 1px solid var(--black);
  border-right: none;
}

.search__input::placeholder {
  font-weight: 300;
}

.search__button {
  font-size: 2rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding: var(--padding-small) var(--padding-medium);
  border: 1px solid var(--black);
  background-color: #FFF;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.search__button:hover {
  background-color: var(--black);
  color: #FFF;
  border: 1px solid var(--black);
}

/* Song List */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .pagination {
    justify-content: flex-end;
  }
}

.pagination__page > a {
  cursor: pointer;
  text-decoration: none;
  color: var(--grey);
}

.pagination__page:not(:last-child) > a {
  padding-right: var(--padding-small);
}

.pagination__page:hover > a,
.pagination__page--active > a {
  color: var(--black);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list > *:not(:last-child) {
  padding-bottom: var(--padding-large);
}

.list__header {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 var(--padding-medium) var(--padding-medium) var(--padding-medium);
}

@media only screen and (min-width: 768px) {
  .list__header {
    grid-template-columns: 40% 30% 1fr 1fr;
  }
}

.list__header-title,
.list__header-artist,
.list__header-tempo,
.list__header-meter {
  color: var(--grey);
  letter-spacing: 1.5px;
}

.list__header-tempo,
.list__header-meter {
  display: none;
}

@media only screen and (min-width: 768px) {
  .list__header-tempo,
  .list__header-meter {
    display: initial;
  }
}

.list__items {
  list-style: none;
}

.list__items > *:not(last-child) {
  margin-bottom: var(--padding-small);
}

.list__row {
  border: 1px solid var(--grey);
  border-radius: 3rem;
  align-items: center;
  cursor: pointer;
}

.list__row:hover {
  background-color: var(--grey);
  color: #FFF;
}

.list__row-link {
  display: grid;
  grid-template-columns: 60% 40%;
  text-decoration: none;
  padding: var(--padding-medium);
  color: inherit;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .list__row-link {
    grid-template-columns: 40% 30% 1fr 1fr;
  }
}

.list__row-title,
.list__row-artist,
.list__row-tempo,
.list__row-meter {
  color: inherit;
  letter-spacing: 1.5px;
}

.list__row-artist,
.list__row-tempo,
.list__row-meter {
  font-size: 1.3rem;
}

.list__row-tempo,
.list__row-meter {
  display: none;
}

@media only screen and (min-width: 768px) {
  .list__row-tempo,
  .list__row-meter {
    display: initial;
  }
}

/* Create / Edit */
.form__field {
  margin-bottom: var(--padding-medium);
}

.form__field-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.form__label {
  display: block;
  margin-bottom: var(--padding-small);
  letter-spacing: 1.5px;
}

.form__input {
  display: block;
  padding: var(--padding-small);
  width: 100%;
  border-radius: 2.5rem;
  border: 1px solid var(--grey);
  color: var(--black);
  letter-spacing: 1.5px;
}

.form__textarea {
  resize: none;
  padding: var(--padding-small);
  width: 100%;
  height: 30rem;
  border-radius: .5rem;
  border: 1px solid var(--grey);
  color: var(--black);
  letter-spacing: 1.5px;
}

.form__select {
  display: block;
  padding: var(--padding-small);
  width: 100%;
  border-radius: 2.5rem;
  border: 1px solid var(--grey);
  color: var(--black);
  letter-spacing: 1.5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input--error {
  border: 1px solid var(--red);
}

.form__error {
  display: block;
  margin-top: var(--padding-small);
  padding-left: var(--padding-small);
  color: var(--red);
}

.form__actions {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .form__actions {
    text-align: right;
  }
}

.form__reset {
  margin-right: var(--padding-small);
}

.form__reset,
.form__submit {
  padding: var(--padding-small) var(--padding-medium);
  letter-spacing: 1.5px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #FFF;
}

.form__reset {
  border: none;
}

.form__submit {
  border-radius: 2.5rem;
  border: 1px solid var(--black);
}

.form__submit:hover {
  background-color: var(--black);
  color: #FFF;
}

/* Song Show */
.song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song__title {
  padding-top: var(--padding-medium);
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.song__author {
  font-size: 1.3rem;
  padding-bottom: var(--padding-large);
  letter-spacing: 1.5px;
}

.song__body {
  padding-bottom: var(--padding-medium);
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.song__indented {
  margin-left: var(--padding-medium);
}

.song__footer {
  padding-top: var(--padding-medium);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.song__edit {
  cursor: pointer;
  text-decoration: none;
  color: var(--grey);
}

.song__edit:hover {
  color: var(--black);
}
