{{template "base" .}}

{{define "main"}}
<div class="song">
  <div class="song__container">
    <h3 class="song__title">
      Amazing Grace
    </h3>

    <h4 class="song__author">
      John Newton
    </h4>

    <p class="song__body">
      D                     G/D       D</br>
      Amazing grace how sweet the sound</br>
                               A/D  G</br>
      That saved a wretch like me</br>
          D      D/F#         G       D</br>
      I once was lost, but now am found</br>
                     A/D  D</br>
      Was blind but now I see</br>
    </p>

    <p class="song__body">
      T'was grace that taught my heart to fear</br>
      And grace my fears relieved</br>
      How precious did that grace appear</br>
      The hour I first believed</br>
    </p>

    <p class="song__body song__indented">
      D/F#    G                     D/F#</br>
      My chains are gone, I've been set free</br>
      G/B                         D/A</br>
      My God, my Savior has ransomed me</br>
      D/F#  G                        D/F#</br>
      And like   a flood His mercy rains</br>
      Em7   A7                 D</br>
      Unending love Amazing Grace </br>
    </p>

    <p class="song__body">
      T'was grace that taught my heart to fear</br>
      And grace my fears relieved</br>
      How precious did that grace appear</br>
      The hour I first believed</br>
    </p>
    
    <p class="song__body">
      T'was grace that taught my heart to fear</br>
      And grace my fears relieved</br>
      How precious did that grace appear</br>
      The hour I first believed</br>
    </p>

    <p class="song__body">
      T'was grace that taught my heart to fear</br>
      And grace my fears relieved</br>
      How precious did that grace appear</br>
      The hour I first believed</br>
    </p>

    <p class="song__body">
      T'was grace that taught my heart to fear</br>
      And grace my fears relieved</br>
      How precious did that grace appear</br>
      The hour I first believed</br>
    </p>

    <div class="song__footer">
      <span class="song__copyright">
        &#169; Public Domain
      </span>

      <a
        class="song__edit"
        href="/songs/1/edit"
      >
        Edit Song
      </a>
    </div>
  </div>
</div>
{{end}}
