{{template "base" .}}

{{define "main"}}
<form
  action="/songs"
  method="POST"
  class="form"
>
  <div class="form__field">
    <label
      for="title"
      class="form__label"
    >
      Title
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      placeholder="Holy is The LORD"
    >
  </div>

  <div class="form__field">
    <label
      for="artist"
      class="form__label"
    >
      Artist
    </label>

    <input
      type="text"
      name="artist"
      class="form__input form__input--error"
      placeholder="Chris Tomlin"
    >

    <span class="form__error">
      Please enter an artist
    </span>
  </div>

  <div class="form__field">
    <label
      for="copyright"
      class="form__label"
    >
      Copyright
    </label>

    <input
      type="text"
      name="copyright"
      class="form__input"
      placeholder="CCLI #22423"
    >
  </div>

  <div class="form__field-group">
    <div class="form__field">
      <label
        for="tempo"
        class="form__label"
      >
        Tempo
      </label>

      <input
        type="text"
        name="tempo"
        class="form__input"
        placeholder="78"
      >
    </div>

    <div class="form__field">
      <label
        for="meter"
        class="form__label"
      >
        Meter
      </label>

      <input
        type="text"
        name="meter"
        class="form__input"
        placeholder="1/4"
      >

      <select name="meter" class="form__select">
        <option value="1/4">1/4</option>
        <option value="1/8">1/8</option>
      </select>
    </div>
  </div>

  <div class="form__field">
    <label
      for="sheet"
      class="form__label"
    >
      Sheet
    </label>

    <textarea
      name="sheet"
      class="form__textarea form__input--error"
      placeholder="Lyrics and chords here"
    ></textarea>

    <span class="form__error">
      Please enter lyrics and chords
    </span>
  </div>

  <div class="form__actions">
    <input
      type="reset"
      class="form__reset"
      value="Reset"
    >

    <input
      type="submit"
      value="Create"
      class="form__submit"
    >
  </div>
</form>
{{end}}
