{{template "base" .}}

{{define "main"}}
<div class="list">
  {{template "pagination" .}}

  <div class="list__header">
    <span class="list__header-title">
      Title
    </span>

    <span class="list__header-artist">
      Artist
    </span>

    <span class="list__header-tempo">
      Tempo
    </span>

    <span class="list__header-meter">
      Meter
    </span>
  </div>

  <ul class="list__items">
    {{range .Songs}}
      <li class="list__row">
        <a
          class="list__row-link"
          href="/songs/{{.ID}}"
        >
          <span class="list__row-title">
            {{.Title}}
          </span>

          <span class="list__row-artist">
            {{.Artist}}
          </span>

          <span class="list__row-tempo">
            {{.Tempo}}
          </span>

          <span class="list__row-meter">
            {{.Meter}}
          </span>
        </a>
      </li>
    {{end}}
  </ul>

  {{template "pagination" .}}
</div>
{{end}}
