{{template "base" .}}

{{define "main"}}
<form
  action="/songs"
  method="POST"
  class="form"
>
  <div class="form__field">
    <label
      for="title"
      class="form__label"
    >
      Title
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>

  <div class="form__field">
    <label
      for="author"
      class="form__label"
    >
    Author
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>

  <div class="form__field">
    <label
      for="copyright"
      class="form__label"
    >
      Copyright
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>

  <div class="form__field">
    <label
      for="title"
      class="form__label"
    >
      Title
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>
  <div class="form__field">
    <label
      for="title"
      class="form__label"
    >
      Title
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>

  <div class="form__field">
    <label
      for="title"
      class="form__label"
    >
      Title
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>

  <div class="form__field">
    <label
      for="title"
      class="form__label"
    >
      Title
    </label>

    <input
      type="text"
      name="title"
      class="form__input"
      required
    >
  </div>

  <textarea id="" name="sheet" cols="30" rows="10">
  </textarea>

  <input type="submit" value="Create">
</form>
{{end}}
